/* define colors */
:root {
  --blue_main: #0065FC;
  --blue_light: #DEEBFF;
  --grey_back: #F2F2F2;
}

/* set fonts */
* {
  font-family: "Raleway", Arial;
}

/* mistake, next time remember add this: 
* {
   margin: 0;
   padding: 0;
 }
*/
body {
  margin: 0 auto;
}

/* class of head */
header {
  margin: 0 auto;
  max-width: 992px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* class of logo */
.logo {
  flex-grow: 1;
  padding-left: 20px;
}

/* class of navi bar */
nav {
  display: block;
}

nav ul {
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

header nav ul li {
  display: block;
}

header nav ul li a {
  padding: 48px 0;
  width: 150px;
  display: block;
}

/* set special settings for desktop */
@media screen and (min-width: 992px) {
  /* add mouseover effect */
  header nav ul li a:hover {
    border-top: 4px solid var(--blue_main);
    color: var(--blue_main);
  }

  .search_button i.fas {
    display: none;
  }
}
/* class of main body */
main {
  margin: 0 auto;
  max-width: 992px;
}

main h1 {
  padding-left: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

main p {
  padding-left: 20px;
  font-size: 14px;
}

/* class of search bar */
.search {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
}

.search_icon {
  background-color: var(--grey_back);
  line-height: 40px;
  font-size: 16px;
  min-width: 40px;
  text-align: center;
  border-radius: 10px 0 0 10px;
}

input {
  font-weight: bold;
  min-width: 230px;
  font-size: 16px;
  padding-left: 10px;
}

.search_button {
  background-color: var(--blue_main);
  font-size: 16px;
  font-weight: bold;
  color: white;
  min-width: 60px;
  text-align: center;
  border-radius: 0 10px 10px 0;
  border: none;
}

/* class of filter icons */
.filter {
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-wrap: wrap;
}

.filter h2 {
  font-size: 16px;
  min-width: 60px;
  height: 40px;
  font-weight: bold;
  line-height: 15px;
}

.filter_icon {
  display: flex;
  border: 2px solid var(--grey_back);
  margin-right: 20px;
  background-color: white;
  height: 40px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  border-radius: 40px;
}

.filter_icon:hover {
  background-color: var(--blue_light);
  border: 2px solid var(--blue_main);
}

.filter_awesome {
  color: var(--blue_main);
  background-color: var(--blue_light);
  height: 40px;
  width: 40px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 40px;
  transform: translate(-8px, -3px);
}

.filter_icon:hover .filter_awesome {
  background-color: var(--blue_main);
  color: white;
}

.filter_text {
  font-size: 16px;
  font-weight: bold;
  padding-right: 5px;
  min-width: 80px;
}

.filter_icon:hover .filter_text {
  color: var(--blue_main);
}

/* class of tips icons */
.tips {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-bottom: 20px;
}

.tips_icon {
  color: var(--blue_main);
  border: 2px solid var(--grey_back);
  font-size: 10px;
  text-align: center;
  height: 20px;
  min-width: 20px;
  line-height: 20px;
  border-radius: 20px;
  margin-right: 20px;
}

.tips_text {
  font-size: 16px;
  width: 400px;
}

/* class of content area */
.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 992px;
  padding-left: 20px;
  padding-right: 20px;
}

/* class of section accomodations */
.accommodations {
  flex-basis: 60%;
  justify-content: space-between;
  background-color: var(--grey_back);
  border-radius: 25px;
  padding: 0px 30px 30px 30px;
}

h3 {
  font-size: 16px;
}

.content_info {
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  justify-content: space-between;
  align-content: space-between;
}

.content_location {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 160px;
  width: 30%;
  border: 4px solid white;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 #969696;
  overflow: hidden;
}

.content_figure {
  height: 90px;
}

.content_figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content_text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 20px;
}

.hotel {
  font-weight: bold;
}

.content_price {
  font-weight: bold;
}

.ratings {
  font-weight: bold;
  color: var(--blue_main);
}

.content_showmore {
  display: flex;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

/* class of section popular */
.popular {
  flex-basis: 25%;
  justify-content: space-between;
  background-color: var(--grey_back);
  border-radius: 25px;
  padding: 0px 30px 30px 30px;
}

.popular_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.popular_info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-content: space-between;
}

.popular_location {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 110px;
  border: 4px solid white;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 #969696;
  overflow: hidden;
}

.popular_figure {
  width: 40%;
}

.popular_figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.popular_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 0px 5px 10px;
  font-size: 12px;
  text-align: left;
  line-height: 15px;
}

.hotel2 {
  font-weight: bold;
  height: 35px;
}

.popular_price {
  padding-bottom: 35px;
}

/* class of activities area */
.activities {
  max-width: 992px;
  padding: 30px 20px 30px 20px;
}

/* class of section activities */
.activities_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 350px;
  justify-content: space-between;
  align-content: space-between;
}

.activities_location {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 22%;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 #969696;
  overflow: hidden;
}

.activities_location:nth-child(1) {
  height: 100%;
}

.activities_location:nth-child(2) {
  height: 50%;
}

.activities_location:nth-child(3) {
  height: 40%;
}

.activities_location:nth-child(4) {
  height: 100%;
}

.activities_location:nth-child(5) {
  height: 45%;
}

.activities_location:nth-child(6) {
  height: 45%;
}

.activities_figure {
  height: calc(100% - 40px);
}

.activities_figure img {
  object-fit: cover;
  /* adjust img display */
  object-position: 50% 0%;
  height: 100%;
  width: 100%;
}

#activities_figure2 img {
  object-position: 50% 40%;
}

.activities_text {
  display: flex;
  padding-left: 10%;
  padding-top: 15px;
  font-size: 12px;
  text-align: left;
}

/* class of footer area */
footer {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 992px;
}

.footer_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--grey_back);
  justify-content: flex-start;
  margin-top: 20px;
  padding: 20px;
  font-size: 12px;
}

.footer_info {
  width: 30%;
}

footer ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

footer ul li {
  display: block;
  padding-top: 0px;
  padding-bottom: 10px;
}

/* adjust logo size */
.logo img {
  object-fit: contain;
  height: 50px;
  padding-top: 30px;
}

/* layout of mobile phone */
@media screen and (max-width: 991px) {
  .logo {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .logo img {
    padding-top: 0px;
  }

  /* class of header area */
  header {
    flex-direction: column;
  }

  .logo {
    padding-left: 0px;
    margin: auto;
  }

  nav ul {
    margin-left: -40px;
    width: auto;
  }

  header nav ul li {
    width: 50%;
  }

  header nav ul li a {
    padding: 0 0 10px 0;
    width: 100%;
    border-bottom: 3px solid var(--grey_back);
  }

  header nav ul li a:hover {
    border-bottom: 3px solid var(--blue_main);
    color: var(--blue_main);
  }

  main h1 {
    margin-top: 30px;
  }

  /* class of search area */
  .search_button span {
    display: none;
  }

  .search_button {
    min-width: 40px;
    border-radius: 10px;
  }

  input {
    border: none;
  }

  .search {
    border: 1px solid var(--grey_back);
    border-radius: 10px;
    max-width: 310px;
    margin-top: 25px;
  }

  main h1 {
    padding-right: 20px;
    margin-bottom: 0px;
  }

  /* class of filter icons */
  .filter {
    padding-top: 15px;
  }

  .filter h2 {
    width: 100%;
    height: 16px;
  }

  .filter_icon {
    margin-bottom: 10px;
  }

  /* class of tips icons */
  .tips {
    flex-wrap: nowrap;
    margin-top: 15px;
  }

  .tips_icon {
    margin-right: 10px;
  }

  /* class of content area */
  .content {
    flex-direction: column-reverse;
    padding: 0px;
  }

  /* class of section popular */
  .popular {
    padding: 0px 20px 30px 20px;
    border-radius: 0px;
  }

  .popular_header {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .popular_info {
    height: 385px;
  }

  .popular_figure {
    width: 50%;
  }

  .popular_text {
    width: 50%;
    padding: 5px 20px 5px 20px;
  }

  /* class of section accomodations */
  .accommodations {
    background-color: white;
    padding: 0px 20px 0px 20px;
  }

  .accommodations h3 {
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .content_info {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 1050px;
  }

  .content_location {
    width: auto;
    margin-bottom: 15px;
  }

  .content_text {
    flex-direction: column;
  }

  .content_showmore {
    margin-top: 10px;
  }

  /* class of section activities */
  .activities {
    padding-bottom: 10px;
  }

  .activities_info {
    flex-wrap: nowrap;
    height: 1050px;
  }

  .activities_location {
    margin-bottom: 15px;
    width: 100%;
  }

  .activities_location:nth-child(n) {
    height: 100%;
  }

  .activities_text {
    padding-left: 5%;
  }

  /* class of footer area */
  .footer_content {
    flex-direction: column;
    font-size: 16px;
  }

  .footer_info {
    width: 100%;
  }

  /* adjust font size */
  .activities_text, .popular_text, .content_text {
    font-size: 14px;
  }

  /* adjust img display */
  .activities_figure img {
    object-position: 50% 25%;
  }

  #activities_figure2 img {
    object-position: 50% 45%;
  }
}
/* layout of tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* class of section popular */
  .popular_info {
    height: 525px;
  }

  .popular_location {
    height: 150px;
  }

  /* class of section accomodations */
  .content_info {
    flex-wrap: wrap;
    flex-direction: row;
    height: 570px;
  }

  .content_location {
    width: 47%;
  }

  /* class of section activities */
  .activities_info {
    flex-wrap: wrap;
    flex-direction: row;
    height: 546px;
  }

  .activities_location {
    margin-bottom: 15px;
    width: 47%;
  }

  .activities_location:nth-child(n) {
    height: 160px;
  }

  /* class of footer area */
  .footer_content {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
