/* define colors */
:root {
    --blue_main: #0065FC;
    --blue_light: #DEEBFF;
    --grey_back: #f6f6f6;
    --Primary: #9356DC;
    --Secondary: #FF79DA;
    --Tertiary: #99E2D0;
    --grey_search: #eaeaea;
    --footer_black: #353535; 
 }